@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: large;
}

body::-webkit-scrollbar {
    display: none;
}

.Box {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    text-align: left;
}

.btn {
    border-radius: 25px;
    font-size: 16px;
}

.Box>p {
    margin: 0;
}